@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root{
    --fondo:#c4c4c4;
    --color1: #222831;
    --color2: #393E46;
    --button: #45AAB8;
}
.i_wrench{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../icons/repair.svg) no-repeat center center;
    vertical-align: middle;
}
.i_users{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../icons/users.svg) no-repeat center center;
    vertical-align: middle;
}
.i_history{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../icons/history.svg) no-repeat center center;
    vertical-align: middle;
}
.i_configs{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../icons/configs.svg) no-repeat center center;
    vertical-align: middle;
}
.i_cel{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../icons/ui_cel.svg) no-repeat center center;
    vertical-align: middle;
}
.i_address{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../icons/ui_address.svg) no-repeat center center;
    vertical-align: middle;
}
.i_description{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../icons/ui_description.svg) no-repeat center center;
    vertical-align: middle;
}
.i_name{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../icons/ui_name.svg) no-repeat center center;
    vertical-align: middle;
}

* {
    user-select: none;
    -webkit-user-drag: none;
    margin:0; 
    padding:0;
    font-family: "JetBrains Mono", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: var(--fondo);
    background-image: url(../img/background_pattern.svg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-position-x: 124px;
}
.navbar_container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
    .navbar{
        background-color: var(--color2);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        height: 100vh;
        min-width: 25vh;
    }
    .navbar ul{
        padding: 0;
        margin: 0;
        width: 100%;
    }
            .navbar li{
                list-style: none;
                text-decoration: none;
                width: 100%;
            }
                .navbar button{
                    background-color: var(--color2);
                    color: rgb(170, 170, 170);
                    border: none;
                    border-bottom: 2px solid #000000;
                    width: 70%;
                    height: 50px;
                    font-size: 15px;
                    font-weight: 400;
                    cursor: pointer;
                    transition: 1.5s ease-in-out;
                }
                    .navbar button:hover{
                        border-bottom: 2px solid var(--button);
                        color: white;
                        transition: 0.2s ease-in-out;
                    }   

/*---------------------------------------------------------------*/
/*
/*-------------------- Estilos pagina ---------------------------*/
/*
/*---------------------------------------------------------------*/

    .reparacion_windows{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
        .reparacion_header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 7%;
        }
    
            .reparacion_header_title{
                background-color: black;
                color: white;
                border: none;
                width: 30vh;
                font-size: 15px;
                padding: 5px 10px;
                user-select: none;
            }
            
            .reparacion_header_button{
                background-color: rgb(45, 60, 66);
                color: white;
                outline: 1px solid white;
                border: none;
                border-radius: 5px;
                box-shadow: 2px 5px 1px #000000;
                transition: 1s ease-in-out;
                cursor: pointer;
                font-size: 14px;
                font-weight: 500;
                padding: 5px 10px;
                width: 30vh;
            }
    
                .reparacion_header_button:hover{
                    background-color: #09f;
                    transition: 0.2s ease-in-out;
                }
    
                .reparacion_header_button:active{
                    background-color: #09f;
                    box-shadow: 1px 2px 1px #000000;
                    transform: translateY(2px);
                }
                
    
            .reparacion_header select{
                display: none;
                position:fixed;
                margin: 250px 0px 50px 20px;
                background-color: #2d3c42;
                color: white;
                font-size: 15px;
                font-weight: bold;  
                border-radius: 5px;
                width: 30.2vh;
                overflow: hidden;
                transition: 1s ease-in-out;
            }
            
            .reparacion_header input{
                display: none;
                position:fixed;
                margin: 250px 0px 180px 20px;
                background-color: #2d3c42;
                color: white;
                font-size: 15px;
                font-weight: bold;  
                border-radius: 5px;
                width: 29.8vh;
                transition: 1s ease-in-out;
            }
            
    /*---------------------------------------------------------------*/
    .reparacion_body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    
        .reparacion_form{
            background: linear-gradient(to bottom, rgba(151, 151, 151, 0.5), rgba(61, 61, 61, 0.5));
            box-shadow: #000000 3px 6px 2px;
            backdrop-filter: blur(5px);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80vh;
            height: 90vh;
        }
    
            .reparacion_form h3{
                color: rgb(0, 0, 0);
                text-shadow: white 1px 1px 3px;
                border-bottom: 1px solid #000000;
                text-align: start;
                width: 70vh;
                transition: 0.8s ease-in-out;
                margin: 20px 0px;
            }
    
        .reparacion_form_body{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 10px;
            column-gap: 10px;
            
        }
    
        .reparacion_form_body label{
            color: white;
            text-shadow: #000000 1px 1px 2px;
            font-size: 15px;
            font-weight: bold;  
            transition: 0.8s ease-in-out;
            margin-top: 5px;
        }
    
        .reparacion_form_body input{
            background-color: #2d3c42;
            color: white;
            font-size: 15px;
            font-weight: bold;  
            border-radius: 5px;
            padding: 5px 10px;
            transition: 0.8s ease-in-out;
        }
    
        .reparacion_form_body textarea{
            background-color: #2d3c42;
            color: white;
            font-size: 15px;
            font-weight: bold;  
            border-radius: 5px;
            width: 64vh;
            padding: 5px 10px;
            transition: 0.8s ease-in-out;
            resize: none;
        }
    
    
    /* Footer formulario */    
    .reparacion_form_footer{
        display: grid;
        color: white;
        text-shadow: #000000 1px 1px 2px;
        font-size: 15px;
        font-weight: bold;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: 65vh;
        transition: 0.8s ease-in-out;
    }
    
        .reparacion_form_footer input[type="checkbox"]{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 22px;
            height: 22px;
            border: 2px solid var(--color2);
            border-radius: 50%;
            background: var(--color2);
            cursor: pointer;
            position: relative;
            outline: none;
            transition: 0.4s ease-in-out;
        }
    
            .reparacion_form_footer input[type="checkbox"]:checked {
                transition: 0.4s ease-in-out;
            }
            
            .reparacion_form_footer input[type="checkbox"]:checked::after {
                background: #fff;
                content: '';
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
                top: 4px;
                left: 4px;
                border-radius: 50%;
                transition: 0.4s ease-in-out;
            }
    
        .reparacion_form_footer input[type="text"] {
            background-color: #2d3c42;
            color: white;
            font-size: 15px;
            font-weight: bold;  
            border-radius: 5px;
            width: 50vh;
            transition: 0.8s ease-in-out;
            grid-column: 2 / -1;
        }
    
        .reparacion_form_footer_button{
            grid-column: 2 / -1;
            grid-row: 2 / -1; 
            background-color: rgb(45, 60, 66);
            color: white;
            border: 1px solid white;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            font-size: 15px;
            font-weight: 500;
            width: 30vh;
            padding: 10px 20px;
            margin: 30px 0px;
            box-shadow: 2px 5px 1px #000000;
            transition: 1s ease-in-out;
        }
    
            .reparacion_form_footer_button:hover{
                background-color: #09f;
                transition: 0.2s ease-in-out;
            }
    
            .reparacion_form_footer_button:active{
                box-shadow: 1px 2px 1px #000000;
                transform: translateY(2px);
            }
    
    
    /*---------------------------------------------------------------*/